.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.tile {
  width: 60vw;
  height: 3vh;
  background-color: #afdafb;
  cursor: pointer;
  border-radius: 25px;
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  margin: 1%;

}

.tile-content {
  overflow: auto;
  transition: all 0.5s ease;
  max-height: 150vh;
  width: 100vw;
  /* margin: 5%; */
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.data-list {
  overflow: auto;
  transition: all 0.5s ease;
  max-height: 0vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.data-list:target {
  max-height: 150vh;
}

.react-grid-item>.react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item>.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}